.selected-queue-details {
  background-color: white;
  padding: 1em;
  border-radius: 5px;

  min-inline-size: 50%;
  min-block-size: 15em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  position: absolute;
  bottom: 5%;
  left: 25%;
}
.go-btn {
  display: flex;
  flex-direction: column;

  align-items: center;
  gap: 1em;
  color: white;
  background-color: #333;
  transition: all 0.25s ease-out;
}
button.go-btn:hover {
  background-color: #f2f0ee;
  color: #333;
  border: none;
  transition: all 0.75s ease-in;
}

h2.selected-queue-label {
  font-size: 1em;
}
.selected-queue-name {
  font-size: 1.5em;
  margin-left: 2em;
}
